/* RouteNotFound.css */

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  .not-found-title {
    font-size: 3rem;
    color: #e74c3c; /* Red color for the title */
    margin-bottom: 1rem;
  }
  
  .not-found-text {
    font-size: 1.5rem;
    color: #333; /* Dark gray color for the text */
    margin-bottom: 2rem;
  }
  